@model iCompass.Models.Plano

@{
    ViewData["Title"] = "Deletar";
}

<h1 class="subtitulo">Deletar</h1>

<h3>Você tem certeza que gostaria de apagar?</h3>
<div>
    <h4>Plano</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePlano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoPlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoPlano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPlano)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlanoId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> 
        <a asp-action="Index" class=" btn btn-primary" >Voltar à Lista</a>
    </form>
</div>
