@model IEnumerable<iCompass.Models.TipoRedeSocial>

@{
    ViewData["Title"] = "Tipos de Rede Social";
}

<h1 class="subtitulo">Tipos de Rede Social</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTipoRedeSocial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTipoRedeSocial)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.TipoRedeSocialId"> <i class="fa-solid fa-pen-to-square"></i></a> 
                    <a asp-action="Details"class="btn btn-primary" asp-route-id="@item.TipoRedeSocialId"> <i class="fa-solid fa-circle-info"></i></a> 
                    <a asp-action="Delete" class="btn btn-segundo" asp-route-id="@item.TipoRedeSocialId"> <i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
