@model iCompass.Models.DadosInfluencer

@{
    ViewData["Title"] = "Deletar";
}

<h1 class="subtitulo">Deletar</h1>

<h3>Você tem certeza que gostaria de apagar?</h3>
<div>
    <h4>Dados Influencer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoConteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoConteudo.NomeTipoConteudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoRedeSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoRedeSocial.NomeTipoRedeSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DadosInfluencerSeguidores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DadosInfluencerSeguidores)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DadosInfluencerId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
    </form>
</div>
