@model iCompass.Models.Postagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Postagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoRedeSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoRedeSocial.TipoRedeSocialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoConteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoConteudo.TipoConteudoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikePostagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikePostagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeslikePostagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeslikePostagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompartilhamentoPostagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompartilhamentoPostagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalvosPostagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalvosPostagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeComentariosPostagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeComentariosPostagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PostagemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
