@model IEnumerable<iCompass.Models.Postagem>

@{
    ViewData["Title"] = "Postagem";
}

<h1 class="subtitulo">Postagem</h1>

<p>
    <a asp-action="Create" class="btn-primary">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRedeSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoConteudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikePostagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeslikePostagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompartilhamentoPostagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalvosPostagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeComentariosPostagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoRedeSocial.NomeTipoRedeSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoConteudo.NomeTipoConteudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikePostagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeslikePostagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompartilhamentoPostagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalvosPostagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeComentariosPostagem)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PostagemId" class="btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.PostagemId" class="btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.PostagemId"class="btn-segundo"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
